---
// page for the recent blog posts

import { getRecentPosts } from "src/utils/getRecentPosts.astro";
import Baselayout from "../layouts/Base.layout.astro";
import DateCard from "src/components/DateCard.astro";
import BlogListlayout from "src/layouts/BlogList.layout.astro";

const recentPosts = await getRecentPosts(3);
---

<Baselayout>
  <!-- <header class="flex flex-col items-center justify-center">
    <p>write somethings here</p>
  </header> -->

  <BlogListlayout heading="Recent Posts">
    {recentPosts.map((post) => <DateCard post={post} />)}
  </BlogListlayout>
</Baselayout>
