---
// page for the recent blog posts
import Baselayout from "../layouts/Base.layout.astro";
---

<Baselayout>
  <main class="flex flex-1 bg-red-800">
    <h1 class="text-baseText">rasengan</h1>
  </main>
</Baselayout>
