---
const { post } = Astro.props;
const { title, date } = post.data;
---

<div class="bg-green-200 m-1 text-yellow-600">
  <p><a href={`/blogs/${post.slug}/`}>{title}</a></p>
  <small>{date}</small>
</div>
