---
import { dateToNumberedMonthDate } from "src/utils/date.utils";
const { post } = Astro.props;
const { title, publishedDate } = post.data;
---

<div class="m-2 p-1">
  <div class="flex flex-row">
    <p class="mr-6 text-baseTextDim"><small>{dateToNumberedMonthDate(publishedDate)}</small></p>

    <p class="text-left"><a href={`/blogs/${post.slug}/`}>{title}</a></p>
  </div>
  <hr class="mt-1 h-0.5 border-t-0 bg-baseTextDim opacity-20" />
</div>
