---
---

<nav class="navbar bg-baseBG flex flex-col md:flex-row shadow shadow-lg">
  <div class="md:flex-1">
    <p class="mx-0.5 px-0.5 normal-case text-2xl"><a href="/">Chaitanya Varu</a></p>
  </div>
  <div class="md:flex-none flex flex-row">
    <button class="btn btn-sm btn-ghost outline outline-2">
      <a href="/blogs">All Posts</a>
    </button>
  </div>
</nav>
