---
import newTabIcon from "/icons/new-tab.svg";
const btnClass =
  "btn btn-sm bg-navBtn hover:btn-navBtn border border-2 border-navBtnBorder hover:border-baseText mr-1";
---

<nav class="navbar bg-navBG flex flex-col md:flex-row shadow shadow-lg">
  <div class="md:flex-1 md:mb-3 lg:mb-0">
    <p class="mx-0.5 px-0.5 normal-case text-2xl"><a href="/">Chaitanya Varu's Blog</a></p>
  </div>
  <div class="md:flex-none flex flex-row md:m-3 lg:m-0">
    <button class={btnClass}>
      <a href="/blogs">All Posts</a>
    </button>
    <button class={`${btnClass} + mr-1`}>
      <a href="https://hokagecv.github.io/portfolio/" target="_blank" class="flex items-center">
        <span>Portfolio</span>
        <img src={newTabIcon} alt="new tab icon" class="ml-2" />
      </a>
    </button>
  </div>
</nav>
