---
import BaseHeaderlayout from "./BaseHeader.layout.astro";
const { title, description } = Astro.props;

import Navbar from "../components/Navbar.astro";
---

<html lang="en" class="bg-baseBG font-sans">
  <BaseHeaderlayout title={title} description={description} />
  <body>
    <Navbar />
    <main class="p-5">
      <slot />
    </main>
  </body>
</html>
